.usersTable {
    text-align: left;
}

.usersTable th:hover {
    cursor: pointer;
}

.usersTable td, .usersTable th {
    padding: 5px;
}

.usersTableRow:nth-child(odd) {
    background-color: rgb(232, 232, 232);
}